* {
    background-color: black;
    color:white;
}

.navbar {
    width: 100%;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 80px;
}

.logomarca-1 {
    width: auto;
    height: 53px;
    display: inline-block;
}

.bem-vindo {
    font-family: 'Anta', sans-serif;
    text-align: left;
    margin-left: 710px;
    font-size: 5rem;
    margin-top: -4px;
}

.livo {
    color: #52b9f4;
}

.texto-inicio {
    font-family: 'Montserrat', sans-serif;
    margin-left: 965px;
    margin-top: -60px;
    font-weight: 500;
}

.orcamento {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: block;
    margin: auto;
    text-align: center;
    width: 490px;
    height: 50px;
    background: linear-gradient(to left,#062df6, #52b9f4);
    padding: 10px 0;
    border-radius: 15px;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.orcamento:hover {
    transform: scale(1.1);
}

.orcamento svg {
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  margin-right: 7px;
}

.insta {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: block;
    border: 2px solid transparent;
    margin: auto;
    text-align: center;
    width: 490px;
    height: 50px;
    background: #212121;
    padding: 10px 0;
    border-radius: 15px;
    line-height: 50px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.insta:hover {
    background: linear-gradient(to left,#062df6, black);
    border: 2px solid #52b9f4;
}

.insta svg {
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
  margin-right: 7px;
}

.portfolio {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: block;
    margin: auto;
    text-align: center;
    width: 490px;
    height: 50px;
    background: #212121;
    padding: 10px 0;
    border-radius: 15px;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.4s;
    border: 2px solid transparent;
}

.portfolio:hover {
    background: linear-gradient(to left,#062df6, black);
    border: 2px solid #52b9f4;
}

.portfolio svg {
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  margin-right: 7px;
}

.construcao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 65px;
    margin-bottom: 80px;
}

.marca {
    width: 30px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.site-construcao {
    font-family: 'Anta', sans-serif;
    font-size: 28px;
    margin-bottom: 50px;
}

.footer {
    background-color: #1d1d1d;
    color: white;
    padding: 40px 220px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1d1d1d;
}

.footer-logo-texto {
    max-width: 600px;
    background-color: #1d1d1d;
}

.logo-footer {
    height: 50px;
    margin-bottom: 15px;
    background-color: #1d1d1d;
}

.frase-footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    background-color: #1d1d1d;
}

.botao-transparente {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 50px;
    padding: 20px 25px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao-transparente:hover {
    background-color: #52b9f4;
    color: white;
    border: #52b9f4;
}

.linha-footer {
    border: none;
    border-top: 1px solid gray;
    margin: 30px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    color: #908f8f;
    background-color: #1d1d1d
}

.coluna-footer {
    background-color: #1d1d1d;
}

.coluna-footer p {
    font-family: 'Montserrat', sans-serif;
    margin: 3px 0;
    background-color: #1d1d1d;
    font-weight: lighter;
}

html, body, footer {
    margin: 0;
    padding: 0;
}


